@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}

<h1>View Roles</h1>
<p>
    <a asp-action="Create">Create Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(role => role.Id)</th>
       
            <th>@Html.DisplayNameFor(role => role.Name)</th>
        <th> </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(roleitem => item.Id)</td>
                <td>@Html.DisplayFor(roleitem => item.Name)</td>
            </tr>
        }
    </tbody>
</table>